body {
    font-family: monospace;
    padding: 20px;
    background: #222;
    color: #eee;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0.8rem;
}

#top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.9rem;
    margin-bottom: 0.5rem;
}

#image {
    width: 3.3rem;
    border-radius: 25%;
    box-shadow: 0 0 0.18rem rgb(98, 170, 98);
    user-select: none;
}

#image:hover {
    box-shadow: 0 0 0.18rem rgb(126, 206, 126);
}

#title {
    font-size: 2rem;
    text-shadow: 0 0 0.18rem currentcolor;
    user-select: none;
}

#code-input {
    width: 90%;
    height: 200px;
    background: #111;
    color: #0f0;
    border: 1px solid #444;
    padding: 10px;
    min-height: 80px;
    min-width: 500px;
    font-size: 1.2rem;
    max-width: 96%;
    max-height: 660px;
    outline: none;
}

button {
    padding: 5px 12px;
    cursor: pointer;
    font-weight: bold;
    font-weight: normal;
    background-color: #424242;
    color: rgb(225, 225, 225);
    font-size: 1.1rem;
    border-color: #888;
}

button:hover {
    color: rgb(255, 255, 255);
    border-color: rgb(207, 207, 207);
    box-shadow: inset 0 0 0 1px grey;
}

#controls {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

#status {
    color: #888;
    margin-left: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.2rem;
    margin-left: 0.5rem;
}