body {
    font-family: monospace;
    padding: 20px;
    background: #222;
    color: #eee;
    margin: 0;
    padding: 0;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0.8rem;
}

#title {
    font-size: 24px;
    margin-bottom: 0.5rem;
}

#code-input {
    width: 90%;
    height: 100px;
    background: #111;
    color: #0f0;
    border: 1px solid #444;
    padding: 10px;
}

button {
    padding: 5px 12px;
    cursor: pointer;
    font-weight: bold;
}

.controls {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

#status {
    margin-top: 10px;
    color: #888;
    margin-left: 0.1rem;
}