<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% if song_display %}Slide - {{ song_display }}{% else %}Slide{% endif %}</title>
        <meta property="og:title" content="{% if song_display %}Slide - {{ song_display }}{% else %}Slide{% endif %}">
        <meta property="og:description" content="{% if song_display %}Listen to {{ song_display }} on Slide{% else %}Slide - A player for strudel code{% endif %}">
        <meta property="og:type" content="music.song">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{% if song_display %}Slide - {{ song_display }}{% else %}Slide{% endif %}">
        <meta name="twitter:description" content="{% if song_display %}Listen to {{ song_display }} on Slide{% else %}Slide - A player for strudel code{% endif %}">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
	    <link rel="stylesheet" href="/css/codemirror.css">
	    <link rel="stylesheet" href="/css/nord.css">
	    <link rel="stylesheet" href="/css/show-hint.css">
        <link rel="icon" type="image/png" href="/img/slide.jpg">
    </head>

    <body>
        <canvas id="background-canvas"></canvas>
        <div id="overlay"></div>

        <div id="main" class="invisible">
            <div id="top">
                <img id="image" src="/img/slide.png" title="Middle Click to set the next visual">
                <div id="title">Slide</div>

                <div id="top-controls">
                    <div id="volume-control" class="control-container">
                        <label for="volume-slider" title="The main volume control">Vol</label>

                        <div class="control-stepper">
                            <button id="volume-decrement" class="step-button step-button-decrease" type="button" title="Decrease the volume"></button>
                            <input id="volume-slider" class="control-slider" type="range" min="0" max="100" value="100" step="1">
                            <button id="volume-increment" class="step-button" type="button" title="Increase the volume">+</button>
                        </div>

                        <span id="volume-value" class="control-value">100</span>
                    </div>

                    <div id="tempo-control" class="control-container">
                        <label for="tempo-slider" title="Cycles Per Minute\nThe tempo or speed\nA lower CPM = slower\nA higher CPM = faster">CPM</label>

                        <div class="control-stepper">
                            <button id="tempo-decrement" class="step-button step-button-decrease" type="button" title="Decrease the CPM"></button>
                            <input id="tempo-slider" class="control-slider" type="range" min="2" max="120" value="30" step="2">
                            <button id="tempo-increment" class="step-button" type="button" title="Increase the CPM">+</button>
                            <button id="tempo-intended" class="step-button" type="button" title="Use the intended CPM">&gt;</button>
                        </div>

                        <span id="tempo-value" class="control-value">60</span>
                    </div>

                    <div id="status" title="Click to set the title"></div>
                </div>
            </div>

            <div id="studio-wrapper">
                <div id="scope-wrapper">
                    <button id="time-rewind" class="scope-button" title="Rewind playback a bit\nMiddle Click for a stronger effect">&lt;</button>

                    <div id="scope-container">
                        <canvas id="scope-canvas" width="640" height="120"></canvas>
                    </div>

                    <button id="time-forward" class="scope-button" title="Forward playback a bit\nMiddle Click for a stronger effect">&gt;</button>
                </div>

                <div id="code-input-wrapper" class="code-input-wrapper">
                    <div id="code-input-controls-top-wrapper" class="code-input-controls-wrapper">
                        <div id="code-input-controls-top" class="code-input-controls">
                            <button type="button" id="code-input-sounds" class="code-input-control">Sounds</button>
                            <button type="button" id="code-input-notes" class="code-input-control">Notes</button>
                            <button type="button" id="code-input-banks" class="code-input-control">Banks</button>
                        </div>
                    </div>

                    <div id="code-input-controls-bottom-wrapper" class="code-input-controls-wrapper">
                        <div id="code-input-controls-bottom" class="code-input-controls">
                            <button type="button" id="code-input-max" class="code-input-control">Max</button>
                            <button type="button" id="code-input-bottom" class="code-input-control">Bottom</button>
                            <button type="button" id="code-input-top" class="code-input-control">Top</button>
                            <button type="button" id="code-input-scroll" class="code-input-control">Scroll</button>
                        </div>
                    </div>

                    <div id="resize-handle"></div>
                </div>
            </div>

            <div id="bottom">
                <div id="controls">
                    <button id="btn-play" title="Play or update the current code">Play</button>
                    <button id="btn-pause" title="Pause the beat">Pause</button>
                    <button id="btn-stop" title="Stop the beat">Stop</button>
                    <button id="btn-new" title="Start a new beat">📝</button>
                    <button id="btn-snapshot" title="Save Snapshot">💾</button>
                    <button id="btn-auto" title="Auto">🤖</button>
                    <button id="btn-url" title="Load URL">🌐</button>
                    <button id="btn-collections" title="Collections">📚</button>

                    <div id="effects">
                        <div id="eq-low-container" class="custom-number" title="EQ: Low Frequency\nMiddle Click to reset\nWheel to increase or decrease\nHold Shift for a stronger effect">
                            <div class="custom-number-button custom-number-decrease">▼</div>
                            <input type="text" id="eq-low" value="0">
                            <div class="custom-number-button custom-number-increase">▲</div>
                        </div>

                        <div id="eq-mid-container" class="custom-number" title="EQ: Mid Frequency\nMiddle Click to reset\nWheel to increase or decrease\nHold Shift for a stronger effect">
                            <div class="custom-number-button custom-number-decrease">▼</div>
                            <input type="text" id="eq-mid" value="0">
                            <div class="custom-number-button custom-number-increase">▲</div>
                        </div>

                        <div id="eq-high-container" class="custom-number" title="EQ: High Frequency\nMiddle Click to reset\nWheel to increase or decrease\nHold Shift for a stronger effect">
                            <div class="custom-number-button custom-number-decrease">▼</div>
                            <input type="text" id="eq-high" value="0">
                            <div class="custom-number-button custom-number-increase">▲</div>
                        </div>

                        <button id="reverb" class="effect-btn" title="Toggle Reverb">R</button>
                        <button id="panning" class="effect-btn" title="Toggle Panning">P</button>
                        <button id="cutoff" class="effect-btn" title="Toggle Cutoff">C</button>
                        <button id="delay" class="effect-btn" title="Toggle Delay">D</button>
                    </div>
                </div>
            </div>

            <template id="template-modal">
                <div class="modal hidden_2">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-title"></div>
                            <button class="modal-close">&times;</button>
                        </div>

                        <div class="modal-body modal-body-container"></div>
                    </div>
                </div>
            </template>

            <template id="template-list-modal">
                <div class="modal hidden_2">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-title"></div>
                            <button class="modal-close">&times;</button>
                        </div>

                        <div class="modal-filter-wrapper">
                            <input class="modal-filter" type="text" placeholder="Filter" autocomplete="off">
                        </div>

                        <div class="modal-body modal-body-list">
                            <div class="loading">Loading...</div>
                        </div>
                    </div>
                </div>
            </template>

            <div id="modal-overlay" class="hidden"></div>
            <div id="modals"></div>
        </div>

        <script src="/dist/strudel.bundle.js"></script>

        <script>
            window.onload = () => {
                App.commit_hash = `{{commit_hash}}`
                App.on_load()
            }
        </script>
    </body>
</html>
